<%= render 'pages/home' unless user_signed_in? %>

<%if user_signed_in? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <center><h1>My Designs</h1></center>
      </div>
    </div>
<% end %>

<div class="panel-body">

 <div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body">
        <%= pin.description %><br/>
        <strong><%= pin.user.email if pin.user %></strong>
        <% if pin.user == current_user %>
          <div class="actions">
            <%= link_to edit_pin_path(pin) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<br>
<%if user_signed_in? %>
<div class="panel-footer">
   <%= link_to new_pin_path do %>
   <span class="glyphicon glyphicon-plus"></span> New Pin
   <% end %>
</div>
<% end %>